:root {
    --bgMainMenu: #78b43d;
    --bgHoverMainItem: #609a26;
    --bgSubItem: #aad862;
    --clrMainWhite: #fff;
    --clrMainBlack: #000;
    --transAll: all 0.35s ease-in-out;
}

html {
    /* font-family: "roboto", sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}
