@import "reset.css";
@import "setting.css";

.wrapper {
    width: 100%;
    height: 5rem;
    background-color: var(--bgMainMenu);
}

.nav {
    width: 100.5rem;
    height: 100%;
    margin: 0 auto;
    /* background-color: lightseagreen; */

    display: flex;
    align-items: center;
}

.nav__logo {
    width: 9rem;
}

.nav__menu {
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
}
/* one nav item */
.nav__item {
    height: 5rem;
    line-height: 5rem;
    padding: 0 0.5rem;

    position: relative;
    transition: all 0.35s ease-in-out;
}
/* modifier nav item for bars */
.nav__item--bars {
    border-left: 0.05rem solid var(--clrMainWhite);
    border-right: 0.05rem solid var(--clrMainWhite);

    padding: 0 1.3rem;
}
/* one link */
.nav__link {
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* config img in link */
.nav__link img {
    max-width: 20px;
    max-height: 20px;
    display: block;
    width: 100%;
}
/* config span in link */
.nav__link span {
    display: block;
    line-height: 1;
    margin-top: 0.8rem;
    text-transform: uppercase;
    color: var(--clrMainWhite);
}
/* change properties of nav item */
.nav__item:hover {
    background-color: var(--bgHoverMainItem);
}

/* change properties of nav link */
.nav__item:hover .nav__link {
    text-decoration: underline;
    color: var(--clrMainWhite);
}
/* change properties of nav item bars */
.nav__item.nav__item--bars:hover {
    background-color: var(--bgMainMenu);
}

.nav__item.nav__item--bars:hover .nav__link--bars {
    text-decoration: none;
}

.nav__item:nth-child(2) {
    margin-left: 1.8rem;
}

.nav__link.hot {
    position: relative;
}
/* add background image for item has class : hot */
.nav__link.hot:after {
    content: "";
    width: 2rem;
    height: 2rem;
    background: url(../images/hot.png) no-repeat;
    background-size: cover;

    position: absolute;
    top: 0;
    right: 0.5rem;
}
/* start dropdown */
.nav__item .nav__dropdown {
    width: 22.5rem;
    background-color: var(--bgSubItem);

    position: absolute;
    top: 5rem;
    left: 0;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    transition: var(--transAll);
}
/* nav item bars dropdown */
.nav__item.nav__item--bars .nav__dropdown {
    width: 18rem;
    left: -11.5rem;
}
/* visibility = true when item hovered */
.nav__item:hover > .nav__dropdown {
    opacity: 1;
    visibility: inherit;
}
/* for all dropdown item */
.nav__dropdown .dropdown__item {
    line-height: 1.6rem;
    padding: 0.6rem 0 0.5rem 2.5rem;
    border-bottom: 0.1rem solid var(--clrMainWhite);

    transition: var(--transAll);
    position: relative;
    cursor: pointer;
}
/* for main dropdown item */
.nav__item > .nav__dropdown > .dropdown__item {
    border-bottom: 0.1rem solid var(--bgMainMenu);
    position: relative;
}
/* for main dropdown item */
.nav__item > .nav__dropdown > .dropdown__item::before {
    content: "";
    width: 10px;
    height: 10px;
    background: url(../images/menuDot.gif) no-repeat;
    position: absolute;
    top: 50%;
    left: 1rem;

    transform: translateY(-50%);
}

.nav__dropdown .dropdown__item:last-child {
    border: 0;
}
/* for sub dropdown item */
.nav__dropdown > .dropdown__item > .nav__dropdown {
    top: 0;
    left: 100%;
    background-color: var(--bgMainMenu);
    transition: var(--transAll);
}
/* for all link in dropdown */
.nav__dropdown .dropdown__link {
    font-size: 1.2rem;
    /* line-height: 1.6rem; */
    transition: var(--transAll);
}

.nav__dropdown > .dropdown__item:hover {
    background-color: var(--bgMainMenu);
}

.nav__dropdown > .dropdown__item:hover > .dropdown__link {
    color: var(--clrMainWhite);
}

.dropdown__item:hover > .nav__dropdown {
    opacity: 1;
    visibility: inherit;
}
/* active dropdown link */
a.active {
    color: var(--clrMainWhite);
}
/* active sub drop down item  */
.dropdown__item.dropdown__item--arrow,
.dropdown__item.dropdown__item--arrow:hover {
    background: url(../images/arrow.png) no-repeat;
    background-position: center right;
    background-position-x: 15rem;
    background-color: #1997df;
}
/* active main drop down item  */
.dropdown__item.dropdown__item--mess,
.dropdown__item.dropdown__item--mess:hover {
    background: url(../images/faq.png) no-repeat;
    background-position: center right;
    background-position-x: 15rem;
    background-color: var(--bgMainMenu);
}
/* config search bar */
.nav__search {
    width: 5rem;
    height: 5rem;
    margin-right: 0;

    border-left: 0.05rem solid var(--clrMainWhite);
    border-right: 0.05rem solid var(--clrMainWhite);

    background: url(../images/sprite.png) no-repeat;
    background-position-x: -37px;
    background-position-y: -4872px;

    position: relative;
    cursor: pointer;
}

.nav__search .search__form {
    position: absolute;
    top: 0.5rem;
    right: 6.8rem;

    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: var(--transAll);
}

.nav__search:hover .search__form {
    width: 76rem;
    opacity: 1;
    visibility: inherit;
}

.form__control {
    width: 100%;
    border: none;
    border-radius: 0.3rem;
    padding: 1.3rem 0 1.3rem 1.3rem;
}

.form__control::placeholder {
    font-family: inherit;
    font-size: 1.4rem;
}
